<p>
  <strong>イベント名</strong>
  <%= @event.event_name %>
</p>
<p>
  <strong>開始日時</strong>
  <%= @event.start_date %>
</p>
<p>
  <strong>終了日時</strong>
  <%= @event.end_date %>
</p>
<p>
  <strong>場所</strong>
  <%= @event.venue %>
</p>
